SQLALCHEMY_DATABASE_URI = "{{.Env.DB_URI}}"      # SQLAlchemy connection data
SECRET_KEY = "{{.Env.SECRET_KEY}}"               # 
DEBUG = False                                    # Debug Mode
UPDATE_INDEX_INTERVAL = 1                        # Time in seconds between requests
UPDATE_TIME_INTERVAL = 10                        # 
INIT_ADMIN_USER = "{{.Env.ADMIN_USER}}"          # The name of the initial admin
INIT_ADMIN_PASS = "{{.Env.ADMIN_PASS}}"          # The password for the initial admin